html {
  font-family: Garamond;
}

body  {
  background: #5f5f5f url("../images/background.png") top left repeat;
}

/* Header */
.search-icons-container img {
  height: 50px;
  padding: 10px 5px;
  cursor: pointer;
}

#advanced-search{
  border: 2px solid silver;
  border-radius: 5px;
  padding: 5px;
  width: 70%;
  box-shadow: 2px 2px 2px 0px rgba(35,32,31,0.35);
}

#search-button{
  border: 1px solid silver;
  border-radius: 5px; 
  margin-left: 20px;
  height: 25px;
}

/* Navigation */
.navigation-container .box {
  border-bottom: 3px solid silver;
  padding: 15px 5px;
  font-size: 20px;
}

.navigation-container .box > a{
  margin: 0px 20px;
  padding: 3px 55px;
  border: 2px;
  box-shadow: 0px 0px 3px 3px rgba(35,32,31,0.35);
  text-decoration: none;
  color: black;
}

.navigation-container .box > span {
  padding: 0px 30px;
}

/* Articles */
.article-container {
  margin-top: 30px;
}
 
 .article-container  h2 {
  font-style: italic;
}

.text-container {
  border: 2px solid silver;
  padding: 15px 15px 25px 15px;
  font-size: 22px;
  box-shadow: 3px 4px 4px 4px silver;
  margin-bottom: 40px;
}
.calendar-container img{
  width: 300px;
}
.technologies-container {
  padding-left: 50px;
}
.technologies-container p {
  font-family: Georgia;
  font-size: 20px;
}

.technologies-container a{
  text-decoration: none;
  color: blue;
}

}

/* Footer */
.footer-container {
  border-top: : 3px solid silver;
}

.footer-container a{
  text-decoration: none;
  color: black;
  font-style: italic;

}

.footer-container {
  border-top: 3px solid silver;
}

.footer-container div {
  padding: 5px;
}